exportPattern("^[[:alpha:]]+")
S3method(YPmodel, IntervalBands)
S3method(YPmodel, adlgrk)
S3method(YPmodel, default)
S3method(YPmodel, estimate)
S3method(YPmodel, inputData)
S3method(YPmodel, lackfittest)
S3method(YPmodel, setParameter)
S3method(YPmodel, setRandom)
S3method(plot, YPmodel)
S3method(plot, YPmodel.IntervalBands)
S3method(plot, YPmodel.estimate)
S3method(plot, YPmodel.lackfittest)
S3method(plot, YPmodel.martint)
S3method(plot, YPmodel.survf)
S3method(plot, YPmodel.survivor)
S3method(print, YPmodel)
S3method(summary, YPmodel)
S3method(summary, YPmodel.IntervalBands)
S3method(summary, YPmodel.overall)
S3method(summary, YPmodel.adlgrk)
S3method(summary, YPmodel.estimate)
S3method(summary, YPmodel.lackfittest)
importFrom("graphics", "legend", "lines", "par", "plot", "title")
importFrom("stats", "integrate", "pnorm", "printCoefmat", "rnorm",
            "runif")
importFrom("utils", "read.table")
